/* Global styles for all tags */ 
* {
    padding: 0;
    margin: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: serif;
    vertical-align: baseline;
    overflow-x: hidden;
}

body {
    width: 100vw;
}

header {
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
}

/* Layout classes */
.mainContainer {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto
}

.shortBlock {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tallBlock {
    padding-top: 150px;
    padding-bottom: 150px;
}

.pullUp150 {
    margin-top: -150px;
    position: relative;
}
.textCenter {
    text-align: center;
}

.topPadding150 {
    padding-top: 150px;
}

.z100 {
    z-index: 100;
}


/* Color Schemes */
.whiteOnBlack {
    background: #333;
    color: white;
}
.whiteOnPeach {
    background: #ff5f61;
    color: white;
}

.blackOnPaleBlue {
    background: #e6ecf6;
    color: white;
}

/* Font Styles */
.ubuntu {
    font-family: ubuntu;
}

/* Flex utility classes */
.flexPushRight {
    margin-left: auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.spaceEvenly {
    justify-content: space-evenly;
}

/* Button Classes */
.buttonBaseline {
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

.buttonBaseline:focus {
    outline: none;
}
.buttonBaseline::-moz-focus-inner {
    border: 0;
}
.buttonBaseline:hover {
    color: #52c41a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-color: #52c41a;
}

.buttonSuccess {
    background: #52c41a;
    align-self: center;
    padding: 15px 40px;
    font-weight: 900;
    color:white;
}

.buttonSuccess:hover {
    color: #52c41a;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.noBorder {
    border: none;
}

header {
    overflow: hidden;
}

#headerLogoImg {
    max-height: 90px;
}

main {
    margin: 0 auto;
    background: #e6ecf6;
    min-height: 90vh;
    padding: 50px 0px 200px;
}

#heroContainerTextContainer {
    padding: 0px 80px 0 100px;
}

#heroContainerTextContainer > h1, #heroContainerTextContainer> h3 {
    margin-bottom: 50px;
}

#heroTitle {
    font-family: Sansita + Swashed;
    font-weight: bold;
    margin-bottom: 30px;
}

#heroContainerImageContainer {
    width: 50%;
}
#heroContainerImageContainer > img {
    max-height: 60vh;
    margin: auto;
}

#quoteAuthor {
    padding-left: 10px;
}

#quoteAuthor:before {
    background: #2F9BFF;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    right: 10px;
}

#teamPhoto {
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 50%;
    margin: auto;
}

#testimonialCircle {
    background: #FBB52B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}


