//Should contain Basic styles for commonly used html elements, e.g. a tag
@use '../1-abstracts/' as a;

html {
  @include a.font(a.$font-normal);
  font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

//TODO change to html tag, have to find all the instances where it is being used first
body.loading {
    cursor: progress !important;
}

a {
    text-decoration: none;
    color: a.$color-link;
}

//TODO Remove, I think this is being used by javascript somewhere.
.blue {
    color: a.$color-blue;
}

.green {
    color: a.$color-green;
}

.red {
    color: a.$color-red;
}

.yellow {
    color: a.$color-yellow;
}

/* Color Schemes */
//TODO I think these should be moved too
// .whiteOnBlack {
//     background: #333;
//     color: white;
// }
// .whiteOnPeach {
//     background: #ff5f61;
//     color: white;
// }
//
// .blackOnPaleBlue {
//     background: #e6ecf6;
//     color: black;
// }
//
// .error {
//     color: #ff5f61;
//     border-color: #ff5f61;
// }
