//Should contain Basic styles for commonly used html elements, e.g. a tag
@use '../1-abstracts/' as a;

html {
    @include a.font(a.$font-normal);
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @media (min-width: a.$screen-md) {
        font-size: 112.5%;
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

html.loading {
    cursor: progress !important;
}

a {
    text-decoration: none;
    color: a.$color-link;
}

input:required,
input:invalid {
    box-shadow: none;
}

.blue {
    color: a.$color-blue;
}

.green {
    color: a.$color-green;
}

.red {
    color: a.$color-red;
}

.yellow {
    color: a.$color-yellow;
}
