//TODO All of these classes should find a home

.underline {
    border-bottom: 2px solid #aaa;
    padding-bottom: 10px;
}

.z100 {
    z-index: 100;
}

.overflowHidden {
    overflow: hidden;
}

.rowCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.screenHeight {
    height: 100vh;
}

