<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Home Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal stylesheets -->
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/indexMobile.css" />
        <link rel="stylesheet" href="/css/app.css"/>
    </head>
    <body class="overflowHidden">
        <main class="blackOnPaleBlue alignCenter flex justifyCenter screenHeight">
            <div>
                <div
                    class="mainContainer tallBlock flex wrap alignCenter smallFlexReverse"
                >
                    <div
                        class="col col6 colPost1 smallCol10 smallColCenter smallMarginBottom smallTextCenter"
                    >
                        <div>
                            <h1 id="heroTitle" class="bold bottomMargin50"><%= error.title %></h1>
                            <h4 class="bottomMargin50"><%= error.text %></h4>
                            <button
                                class="takeTheTest buttonBaseline buttonSuccess noBorder colCenter smallColCenter"
                                onclick="location.href='/'"
                            >
                            Return Home
                            </button>
                        </div>
                    </div>
                    <div
                        id="heroContainerImageContainer"
                        class="col col5 smallCol6 smallColCenter smallMarginBottom"
                    >
                    <img class="col12 smallCol12" src="<%= error.img %>" />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
