<!-- Footer, currently utilised in homepage and app. Should be templated into all pages -->
<footer id="footer" class="flexColumn spaceEvenly" >
    <div class="flex wrap justifyCenter spaceArond alignCenter bottomMargin50">
        <% content.footer.links.forEach((link, i, arr) => { %>
            <%# Loops through all links for footer in database, new links can be easily added %>
            <% if (i === arr.length-1) { %>
                <div class="sidePadding30">
                    <a href="/"><h4><%= link.text %></h4></a>
                </div>
            <% } else { %>
                <div class="sidePadding30">
                    <a href="/"><h4><%= link.text %></h4></a>
                </div><h4>|</h4>
            <% } %>
        <% }); %>
    </div>
    <div class="flex justifyCenter alignCenter">
        <h5><%= content.footer.copyright %></h5>
    </div>
</footer>
