<!-- Header, Templating used to adjust the usage for the second button -->
<header id="header" class="flex">
    <a style="height:100%;" href="/"
        ><img id="headerLogoImg" src="img/paintSplashLogoTextToRight.png"
    /></a>
    <button
        id="headerLoginButton"
        class="flexPushRight buttonBaseline noBorder"
    >
        Login
    </button>
    <button
        id="<%= header.secondButton.id %>"
        onclick="<%= header.secondButton.onClick %>"
        class="buttonBaseline noBorder takeTheTest <%= header.secondButton.class %>">
        <%= header.secondButton.text %>
    </button>
</header>
