<form class="modal__section">
    <h5>Please enter your email adress and we'll send you instructions on how to reset your password</h5>

    <div class="font--margin-unset">
        <%- include("../formField.ejs",
        {id: "initiateResetEmail", type: "email", required: true, placeholder: "Email Address"}) -%>
    </div>

    <div class="modal__button-group">
        <button id="initiateResetButton"
            class="btn btn--blue"
        >
            Send Recovery Email
        </button>
    </div>
</form>
