<div id="instructModalSection" class="modal__section">
    <h2 id="instructModalTitle" class="textCenter bottomMargin50">
        Instructions
    </h2>
    <div class="modal__divider"></div>
    <%- include('./instructionLine.ejs', {number: "1",
    text: "Read the card and decide if the word describes you."})%>
    <%- include('./instructionLine.ejs', {number: "2",
    text: "If you believe it does, you can keep it, if not, you can discard it."})%>
    <%- include('./instructionLine.ejs', {number: "3",
    text: "You are free to and encouraged to change your mind as the test goes on."})%>
    <%- include('./instructionLine.ejs', {number: "4",
    text: "When 20 cards are kept and 60 are discarded, you can finish and your results will be decided."})%>
    <div class="modal__divider"></div>
    <div class="flex justifyCenter spaceEvenly">
        <button
            class="btn btn--success"
            id="testStartButton"
        >
            Begin
        </button>
    </div>
</div>
