<form class="modal__section">
    <%- include("../formField.ejs",
    {id: "loginEmail", type: "email", required: true, placeholder: "Email Address"}) -%>
    <%- include("../formField.ejs",
    {id: "loginPassword", type: "password", placeholder: "Password"}) -%>

    <button
        id="loginButton"
        class="btn btn--blue"
    >
        Login
    </button>

    <!-- Remember Me Button on login pop up-->
    <label class="checkbox">
        <input id="loginRememberMe" type="checkbox" />
        <span>Remember Me</span>
    </label>

</form>
<div class="divider"></div>
<div class="modal__section">
    <h4 class="textCenter bottomMargin50">
        Don't have an account?<br />We will create one after
        your personality test.
    </h4>
    <div class="flex justifyCenter spaceEvenly">
        <button
            class="btn btn--success"
            onclick="location.href='/test'"
        >
            Take the Test!
        </button>
    </div>
</div>
