<form class="modal__section">
    <div class="form-field">
        <input
            name="loginEmail"
            placeholder="Email Address"
            class="form-field__input"
            type="input"
            id="loginEmail"
            required
        />
        <label for="loginEmail" class="form-field__label"
            >Email Address</label
        >
    </div>
    <div class="form-field">
        <input
            name="loginPassword"
            placeholder="Password"
            class="form-field__input"
            id="loginPassword"
            type="password"
        />
        <label for="loginPassword" class="form-field__label">Password</label>
    </div>
    <button
        id="loginButton"
        class="btn btn--blue"
    >
        Login
    </button>

    <!-- Remember Me Button on login pop up-->
    <label class="checkbox">
        <input id="loginRememberMe" type="checkbox" />
        <span>Remember Me</span>
    </label>

</form>
<div class="divider"></div>
<div class="modal__section">
    <h4 class="textCenter bottomMargin50">
        Don't have an account?<br />We will create one after
        your personality test.
    </h4>
    <div class="flex justifyCenter spaceEvenly">
        <button
            class="btn btn--success"
            onclick="location.href='/test'"
        >
            Take the Test!
        </button>
    </div>
</div>
