<form class="modal__section">
    <%- include("../formField.ejs",
    {id: "loginEmail", type: "email", required: true, placeholder: "Email Address"}) -%>
    <%- include("../formField.ejs",
    {id: "loginPassword", type: "password", placeholder: "Password"}) -%>
    <h6 class="modal__link--small"><a id="initiateResetPassword">Forgot your password?</a></h6>

    <div class="modal__button-group modal__button-group--spread">
        <div>
            <label class="checkbox">
                <input id="loginRememberMe" type="checkbox" />
                <span>Remember Me</span>
            </label>
        </div>
        <button id="loginButton"
            class="btn btn--blue"
        >
            Login
        </button>
    </div>
</form>
<div class="modal__divider modal__divider--spacing-small"></div>

<div class="modal__section">
    <p>
        Don't have an account?<br />We will create one after
        your personality test.
    </p>
    <div class="modal__button-group">
        <button
            class="btn btn--success"
            onclick="location.href='/test'"
        >
            Take the Test!
        </button>
    </div>
</div>
