<!-- Movie Modal -->
<div id="movieModalContainer" class="modal__container">
    <div id="movieModal" class="modal">
        <div id="movieModalSection" class="modal__section">
            <h4
                id="movieModalTitle"
                class="textCenter bottomMargin10 topMargin10"
            >
                Your result suggests you'd like
            </h4>
            <h3 class="textCenter bottomMargin50" id="movieTitle"></h3>
            <h4 class="textCenter bottomMargin50" id="moviePlot"></h4>
            <div class="divider"></div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    class="btn btn--blue"
                    id="moreMovieInfoButton"
                >
                    More Info
                </button>
            </div>
        </div>
        <svg
            id="movieModalClose"
            class="modal__close"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
        >
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <svg
            id="movieModalBack"
            class="modal__back"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
        >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"
            />
        </svg>
    </div>
</div>
