<!-- Random Person Modal -->
<div id="randomPersonModalContainer" class="modalContainer">
    <div id="randomPersonModal" class="modal">
        <div id="randomPersonModalSection" class="modal__section">
            <h4
                id="randomPersonModalTitle"
                class="textCenter bottomMargin50 topMargin10"
            >
                Your result suggests you might be like...
            </h4>
            <h3 class="textCenter bottomMargin50" id="randomPersonTitle"></h3>
        </div>
        <svg
            id="randomPersonModalClose"
            class="modal__close"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
        >
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <svg
            id="randomPersonModalBack"
            class="modal__back"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
        >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"
            />
        </svg>
    </div>
</div>
