<!-- Random Person Modal -->
<div id="randomPersonModalSection" class="modal__section">
    <h4
        id="randomPersonModalTitle"
        class="textCenter bottomMargin50 topMargin10"
    >
        Your result suggests you might be like...
    </h4>
    <h3 class="textCenter bottomMargin50" id="randomPersonTitle"></h3>
</div>
