<form class="modal__section">
    <%- include("../formField.ejs",
    {id: "resetPassword", type: "password", placeholder: "New Password"}) -%>
    <%- include("../formField.ejs",
    {id: "resetPasswordConfirm", type: "password", placeholder: "Confirm New Password"}) -%>

    <div class="modal__button-group">
        <button id="resetButton"
            class="btn btn--blue"
        >
            Reset
        </button>
    </div>
</form>
