<!-- Results Modal -->
<div id="resultsModalSection" class="modal__section">
    <h4>You are</h4>
    <div class="modal__text"><h2 id="resultColor"></h2></div>
    <div class="modal__text"><h4 id="resultTitle"></h4></div>
    <div class="modal__text"><p id="resultsBlurb"></p></div>

    <div class="modal__button-group">
        <button
            id="saveResultsButton"
            class="btn btn--success"
        >
            Save Your Results!
        </button>
        <!-- TODO, decide wheter to completely remove this functionality <button
            class="btn btn--blue"
            id="randomPersonButton"
        >
            Who Are You Like!
        </button> -->
    </div>
</div>
