<!-- Results Modal -->
<div id="resultsModalSection" class="modal__section">
    <h2 id="resultsTitle" class="textCenter bottomMargin50">
        Thank You for Taking the Test
    </h2>

    <h4 class="textCenter bottomMargin10">You are</h4>
    <h2 id="resultColor" class="textCenter bottomMargin10"></h2>
    <h4 id="resultTitle" class="textCenter bottomMargin50"></h4>

    <div class="divider"></div>
    <h5 class="textCenter bottomMargin50" id="resultsBlurb"></h5>
    <div class="divider"></div>
    <div class="flex justifyCenter spaceEvenly">
        <button
            id="saveResultsButton"
            class="btn btn--success"
        >
            Save Your Results!
        </button>
        <button
            class="btn btn--blue"
            id="randomPersonButton"
        >
            Who Are You Like!
        </button>
    </div>
</div>
