<!-- Sign up Modal -->
<div id="signUpModalSection" class="modal__section">
    <h3 id="signUpModalTitle" class="textCenter bottomMargin50 topMargin20">
        <%= header %>
    </h3>
    <div class="bottomMargin50">
        <div class="form-field">
            <input
                name="signUpName"
                placeholder="Name"
                class="form-field__input"
                id="signUpName"
            />
            <label for="signUpName" class="form-field__label">Name</label>
        </div>
        <div class="form-field">
            <input
                name="signUpEmail"
                placeholder="Email Address"
                class="form-field__input"
                type="email"
                id="signUpEmail"
                required
            />
            <label for="signUpEmail" class="form-field__label">Email Address</label>
        </div>
        <div class="form-field">
            <input
                name="signUpPassword"
                placeholder="Password"
                class="form-field__input"
                id="signUpPassword"
                type="password"
            />
            <label for="signUpPassword" class="form-field__label">Password</label>
        </div>
        <div class="form-field">
            <input
                name="signUpUniversity"
                placeholder="University"
                class="form-field__input"
                id="signUpUniversity"
            />
            <label for="signUpUniversity" class="form-field__label">University</label>
        </div>
        <div class="form-field">
            <input
                name="signUpDepartment"
                placeholder="Department"
                class="form-field__input"
                id="signUpDepartment"
            />
            <label for="signUpDepartment" class="form-field__label">Department</label>
        </div>
    </div>
    <div class="flex justifyCenter spaceEvenly">
        <button
            id="signUpButton"
            class="btn btn--blue"
        >
            Sign Up
        </button>
    </div>
</div>
