<!-- Very simple currently, for displaying a header and a value on profile page-->
<div class="adminUserResults__field" id="admin<%= header %>Field">
    <h4 class="profileFieldHeader"><%= header %></h4>
    <h3 class="profileFieldText"><%= value %></h3>
</div>
