<!-- Carousel component, should be used with carousel javascript file carousel.js 
    Carousel is designed to be able to be droppped into any layout div on any page -->
<div class="carousel">
    <div class="carousel__slider" id="<%= id %>">
        <% content.testimonials.forEach((testimonial, i) => { %>
            <%# Loops through all testimonials in database, new testimonials can be easily added %>
                <div class="carousel__slider__item">
                    <h4 class="carousel__slider__item__text"><%= testimonial.text %></h4>
                    <div class="carousel__slider__item__accent"></div>
                    <h6><%= testimonial.name %></h6>
                </div>
        <% }); %>
    </div>
    <div class="carousel__btns">
        <% content.testimonials.forEach((testimonial, i) => { %>
            <%# Same as above but adding buttons instead of content %>
            <% if (i === 0) { %>
                <span class="carousel__btn carousel__btn--wide"></span>
            <% } else { %>
                <span class="carousel__btn"></span>
            <% } %>
        <% }); %>
    </div>
</div>
