<!-- Very simple currently, for displaying a header and a value on profile page-->
<h2 class="bottomMargin10"><span class="underline"><%= header %></span></h2>
<h3 class="bottomMargin30"><%= value %></h3>
