<div id="resultsModalContainer" class="modalContainer">
    <div id="resultsModal" class="modal">
        <!-- Results Modal -->
        <div id="resultsModalSection" class="modalSection">
            <h2 id="resultsTitle" class="textCenter bottomMargin50">
                Thank You for Taking the Test
            </h2>

            <h4 class="textCenter bottomMargin10">You are</h4>
            <h2 id="resultColor" class="textCenter bottomMargin10"></h2>
            <h4 id="resultTitle" class="textCenter bottomMargin50"></h4>

            <div class="divider"></div>
            <h5 class="textCenter bottomMargin50" id="resultsBlurb"></h5>
            <div class="divider"></div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    id="saveResultsButton"
                    class="buttonBaseline buttonSuccess noBorder colCenter"
                >
                    Save Your Results!
                </button>
                <button
                    class="buttonBaseline buttonBlue noBorder colCenter"
                    id="omdbButton"
                >
                    Suggest a movie!
                </button>
            </div>
        </div>
    </div>
</div>
