*{
    margin: 0px;
}
.appBackground {
    position: relative;
    margin:0px;
    padding: 30px 30px;
    background: linear-gradient(250deg, #D7DDE8 0%, #C9D0E1 100%);
    height: calc(100vh - 100px);
    width: 100vw;
}

/* Styles for the cards that will be used during the test */
.card {
    padding: 15px;
    position: absolute;
    width: 180px;
    height: 127px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: linear-gradient(257.68deg, #F7F7F7 0%, #ECECEC 100%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
    font-weight: 700;
    cursor: default;
    z-index: 1;
}

.bigCard {
    padding: 30px;
    width: 360px;
    height: 254px;
    border-radius: 18px;
    font-size: 30px;
}

.cardTrans {
    transition: 0.4s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Style for when card is being clicked on */
.cardFocused {
    opacity: 0.5;
    transition: 0.4;
    background: linear-gradient(257.68deg, #ECECEC 0%, #E2E2E2 100%);
}

.dropzoneContainer {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0px;
    left: 0px;
    height: 30%;
    width: 100vw;
}

.cardDropzone {
    position: absolute;
    top: 20px; 
    width: 30%;
    max-width: 450px;
    height: calc(100% - 40px);
    border: 2px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 10px;
}
.cardDropzoneHover {
    box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.35);
}

.dropZoneText {
    width: 100%;
}

#greenDropzone {
    border-color: rgba(86, 189, 102, 1);
    background: rgba(86, 189, 102, 0.5);
    left: 20px;
}

#redDropzone {
    border-color: rgba(255, 77, 79, 1);
    background: rgba(255, 77, 79, 0.5);
    right: 20px;
}

#modalHolding{
    display: none;
}

#cardContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

#completeTest {
    width: 140px;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 70px);
}
