/* Global styles for all tags */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    /*TODO position: relative;*/
    font-family: Roboto;
}

body {
    font-size: 16px;
}

body.loading {
    cursor: progress !important;
}

header {
    position: -webkit-sticky;
    position: sticky;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: -1px;
    z-index: 1000;
    height: 12vw;
    max-height: 100px;
    min-height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

footer {
    padding: 30px 20px 30px;
    background-color: #333333;
    color: #DCE3F1;
}

a {
    text-decoration: none;
    color: #2736BD;
}

h1 {
    font-size: 50px;
    font-weight: 100;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

h3 {
    font-size: 30px;
    font-weight: 100;
}

h4 {
    font-size: 25px;
    font-weight: 100;
}

h5 {
    font-size: 16px;
    font-weight: 100;
}

/* Baselines */
.buttonBaseline {
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    padding: 15px 40px;
    margin: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 4px;
}

.buttonBaseline:hover {
    color: #52c41a;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    border-color: #52c41a;
}

.buttonBaseline:focus {
    outline: none;
}
.buttonBaseline::-moz-focus-inner {
    border: 0;
}

/* Layout classes */
.pullUp150 {
    margin-top: -150px;
    position: relative;
}
.textCenter {
    text-align: center;
}

.topPadding150 {
    padding-top: 150px;
}

.topMargin10 {
    margin-top: 10px;
}

.topMargin20 {
    margin-top: 20px;
}

.bottomMargin100 {
    margin-bottom: 100px;
}

.bottomMargin50 {
    margin-bottom: 50px;
}

.bottomMargin30 {
    margin-bottom: 30px;
}

.bottomMargin10 {
    margin-bottom: 10px;
}

.sidePadding30 {
    padding-left: 30px;
    padding-right: 30px; 
}

.z100 {
    z-index: 100;
}

.overflowHidden {
    overflow: hidden;
}

.rowCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.divider {
    height: 2px;
    background: #aaa;
    width: 100%;
    margin: 0 auto 50px;
}

.verticalDivider {
    width: 2px;
    background: #aaa;
}

.modalContainer {
    display: flex;
    visibility: hidden;
    transition: visibility 0.2s linear;
    background: rgba(131, 138, 150, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    border-radius: 7px;
    position: relative;
    opacity: 0;
    transition: opacity 0.2s linear;
    max-width: 700px; 
    width: 55%;
    min-width: 500px;
}

.closeModalIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 28px;
    width: 28px;
}
.closeModalIcon:hover {
    fill:red;
}

.backModalIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 28px;
    width: 28px;
    visibility: hidden;
}

.backModalIcon:hover {
    fill: #2f9bff;
}

/* Form Styles */
.modalSection {
    padding: 50px 50px;
}

.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

/* remove standard placeholder */
.formField::placeholder {
    color: transparent;
    visibility: hidden;
}

.formField {
    width: 100%;
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    font-size: 20px;
    color: black;
    padding: 12px 0 10px;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 10px;
}

.formField:focus {
    padding-bottom: 9px;
    font-weight: 700;
    border-width: 3px;
    border-bottom: 3px solid #2f9bff;
}

/* Keep label in default position when placeholder is not showing */
.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 20px;
    color: grey;
}

/* If the form field is empty (placeholder would be shown)
 * lower the label into formField
 * */
.formField:placeholder-shown ~ .formLabel {
    font-size: 20px;
    cursor: text;
    top: 20px;
}

/* Highlight label and return to top posiition when form is focused */
.formField:focus ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 20px;
    color: #2f9bff;
    font-weight: 700;
}

/* reset input */
.formField:required,
.formField:invalid {
    box-shadow: none;
}

.formFieldError {
    color: #ff5f61;
    border-color: #ff5f61;
}

.formFieldError:focus {
    border-color: #ff5f61;
}

.formFieldError ~ .formLabel {
    color: #ff5f61;
}

.formFieldError:focus ~ .formLabel {
    color: #ff5f61;
}


/* Color Schemes */
.whiteOnBlack {
    background: #333;
    color: white;
}
.whiteOnPeach {
    background: #ff5f61;
    color: white;
}

.blackOnPaleBlue {
    background: #e6ecf6;
    color: black;
}

.error {
    color: #ff5f61;
    border-color: #ff5f61;
}

/* Font Styles */
.bold {
    font-weight: bold;
}

/* Flex utility classes */
.flexPushRight {
    margin-left: auto;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}
.alignEnd {
    align-items: flex-end;
}

/* Button Classes */

.buttonSuccess {
    background: #52c41a;
    padding: 15px 40px;
    font-weight: 900;
    color: white;
}

.buttonSuccess:hover {
    color: #52c41a;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.buttonSuccess:focus {
    color: #52c41a;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.buttonBlue {
    background: #2f9bff;
    padding: 15px 40px;
    font-weight: 900;
    color: white;
}

.buttonBlue:hover {
    color: #2f9bff;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.buttonBlue:focus {
    color: #2f9bff;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.buttonError {
    background: #ff5f61;
    padding: 15px 40px;
    font-weight: 900;
    color: white;
}

.buttonError:hover {
    color: #ff5f61;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.buttonError:focus {
    color: #ff5f61;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.noBorder {
    border: none;
}

/* Carousel */
.carouselSlider {
    width: 5000px;
    display: flex;
    transition: all 0.8s;
}

.carouselItem {
    padding: 0 10px;
}

.carouselBtn {
    width: 16px;
    height: 16px;
    margin: 8px;
    border-radius: 16px;
    display: inline-block;
    cursor: pointer;
    background-color: black;
    transition: all 0.8s;
}

.carouselBtnWide {
    width: 35px;
    border-radius: 35px;
    background-color: #ff5f61;
}

/* Individual tag Styles */
#headerLogoImg {
    height: 100%;
}

#quoteAuthor {
    padding-left: 10px;
}

#quoteAuthor:before {
    background: #2f9bff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    right: 10px;
}

#teamPhoto {
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 50%;
    margin: auto;
}

#testimonialCircle {
    background: #fbb52b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginButton {
    margin: 40px auto 0px;
}

