@use "./type";
$spacing: type.$font-size !default;

// Decrease
$spacing--small: floor($spacing / 4 * 3) !default;
$spacing--xsmall: floor($spacing / 2) !default;
$spacing--2xsmall: floor($spacing / 4) !default;

// Increase
$spacing--large: ceil($spacing / 2 * 3) !default;
$spacing--xlarge: ceil($spacing / 2 * 4) !default;
$spacing--2xlarge: ceil($spacing / 2 * 5) !default;
$spacing--3xlarge: ceil($spacing / 2 * 6) !default;
$spacing--4xlarge: ceil($spacing / 2 * 7) !default;
$spacing--5xlarge: ceil($spacing / 2 * 9) !default;
$spacing--6xlarge: ceil($spacing / 2 * 12) !default;
