//Font 
$font-stack: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

$font-size: 16px;

//Font Mixin
@mixin font($weight) {
    font-family: $font-stack;
    font-weight: $weight;
}

//TODO find all font instances and ensure they are utilising these styles
