$color-dark-gray: hsl(0, 0%, 67%);
$color-dodger-blue: hsl(209, 100%, 59%);
$color-pattens-blue: hsl(217, 47%, 93%);
$color-kelly-green: hsl(100, 77%, 44%);
$color-bittersweet: hsl(359, 100%, 69%);
$color-supernova: hsl(40, 96%, 58%);
$color-cerulean-blue: hsl(234, 66%, 45%);
