<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Personality Test" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- jQuery UI -->
        <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"
        ></script>

        <!-- Internal stylesheets -->
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/css/index.css" />

        <!-- Internal javascript -->
        <script type="module" src="js/app.js"></script>
    </head>
    <%- include('../partials/header')%>
    <body>
        <div id="loginModalContainer" class="modalContainer">
            <div id="loginModal" class="modal">
                <div class="modalSection">
                    <div class="formGroup field">
                        <input
                            name="loginEmail"
                            placeholder="Email Address"
                            class="formField"
                            type="input"
                            id="loginEmail"
                            required
                        />
                        <label for="email" class="formLabel"
                            >Email Address</label
                        >
                    </div>
                    <div class="formGroup field">
                        <input
                            name="loginPassword"
                            placeholder="Password"
                            class="formField"
                            id="loginPassword"
                            type="password"
                        />
                        <label for="password" class="formLabel">Password</label>
                    </div>
                    <button
                        id="loginButton"
                        class="buttonBaseline buttonBlue noBorder colCenter "
                    >
                        Login
                    </button>
                    <label>
                        <input
                            type="checkbox"
                            checked="checked"
                            name="remember"
                        />
                        Remember me
                    </label>
                </div>
                <div class="divider"></div>
                <div class="modalSection">
                    <h4 class="textCenter bottomMargin50">
                        Don't have an account?<br />We will create one after
                        your personality test.
                    </h4>
                    <div class="flex justifyCenter spaceEvenly">
                        <button
                            class="buttonBaseline buttonSuccess noBorder colCenter takeTheTest"
                            onclick="location.href='./app.html'"
                        >
                            Take the Test!
                        </button>
                    </div>
                </div>
                <svg
                    id="closeLoginModal"
                    class="closeModalIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                >
                    <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                    />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
            </div>
        </div>
        <div id="appModalContainer" class="modalContainer">
            <div id="appModal" class="modal">
                <div id="modalSectionContainer"></div>
                <svg
                    id="closeAppModal"
                    class="closeModalIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                >
                    <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                    />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
                <svg
                    id="backAppModal"
                    class="backModalIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                >
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"
                    />
                </svg>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;"></div>
        <div id="appPrimaryContainer" class="appBackground">
            <div id="cardContainer"></div>
        </div>
        <div class="dropzoneContainer">
            <div id="redDropzone" class="cardDropzone">Discard</div>
            <div id="greenDropzone" class="cardDropzone">Keep</div>
        </div>
    </body>
    <div id="modalHolding">
        <!-- Instructions Modal -->
        <div id="instructModalSection" class="modalSection">
            <h2 id="instructModalTitle" class="textCenter bottomMargin50">
                Instructions
            </h2>
            <div class="divider"></div>
            <h4 id="instructions" class="textCenter bottomMargin50">
                Cards will be released onto the screen along with 2 buckets<br /><br />A
                "Keep" bucket and a "Discard" bucket<br /><br />Place cards
                which you feel represent you into the "Keep" bucket and cards
                which don't into the "Discard" bucket.<br /><br />
                When the cards on screen have been sorted more will be released
                until all 80 have been dealt.<br /><br />After all the cards
                have been sorted your results will be calculated
            </h4>
            <div class="divider"></div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    class="buttonBaseline buttonSuccess noBorder colCenter"
                    id="testStartButton"
                >
                    Start the Test
                </button>
            </div>
        </div>

        <!-- Movie Modal -->
        <div id="movieModalSection" class="modalSection">
            <h4
                id="movieModalTitle"
                class="textCenter bottomMargin10 topMargin10"
            >
                Your result suggests you'd like
            </h4>
            <h3 class="textCenter bottomMargin50" id="movieTitle"></h3>
            <h4 class="textCenter bottomMargin50" id="moviePlot"></h4>
            <div class="divider"></div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    class="buttonBaseline buttonBlue noBorder colCenter"
                    id="moreMovieInfoButton"
                >
                    More Info
                </button>
            </div>
        </div>

        <!-- Results Modal -->
        <div id="resultsModalSection" class="modalSection">
            <h2 id="resultsTitle" class="textCenter bottomMargin50">
                Thank You for Taking the Test
            </h2>

            <h4 class="textCenter bottomMargin10">You are</h4>
            <h2 id="resultColor" class="textCenter bottomMargin10"></h2>
            <h4 id="resultTitle" class="textCenter bottomMargin50"></h4>

            <div class="divider"></div>
            <h5 class="textCenter bottomMargin50" id="resultsBlurb"></h5>
            <div class="divider"></div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    id="saveResultsButton"
                    class="buttonBaseline buttonSuccess noBorder colCenter"
                >
                    Save Your Results!
                </button>
                <button
                    class="buttonBaseline buttonBlue noBorder colCenter"
                    id="omdbButton"
                >
                    Suggest a movie!
                </button>
            </div>
        </div>

        <!-- Sign up Modal -->
        <div id="signupModalSection" class="modalSection">
            <h3 class="textCenter bottomMargin50 topMargin20">
                Sign up to save your results
            </h3>
            <div class="bottomMargin50">
                <div class="formGroup field">
                    <input
                        name="email"
                        placeholder="Email Address"
                        class="formField"
                        type="input"
                        id="email"
                        required
                    />
                    <label for="email" class="formLabel">Email Address</label>
                </div>
                <div class="formGroup field">
                    <input
                        name="password"
                        placeholder="Password"
                        class="formField"
                        id="password"
                        type="password"
                    />
                    <label for="password" class="formLabel">Password</label>
                </div>
            </div>
            <div class="flex justifyCenter spaceEvenly">
                <button
                    id="signupButton"
                    class="buttonBaseline buttonBlue noBorder colCenter "
                >
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</html>
