<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours 404" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

    </head>
    <body class="error-container">

        <div class="grid grid--column-reverse container">
            <div class="hero__content col">
                <h1 class="hero__title"><%= error.title %></h1>
                <p class="hero__blurb"><%= error.text %></p>
                <div class="center--horizontal">
                    <button
                        class="btn btn--success"
                        onclick="location.href='/'"
                        >
                        Return Home
                    </button>
                </div>
            </div>

            <div class="hero__img col">
                <div>
                    <img class="col12 smallCol12" src="<%= error.img %>" />
                </div>
            </div>
        </div>
    </body>
</html>
