<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Pod Colours Password Reset" />
        <title>Reset Your Password</title>

        <%- include('../partials/head')%>

        <!-- Internal javascript -->
        <script type="module" src="/js/passwordReset.js"></script>
    </head>

    <body class="error-container">
        <%- include('../components/modals/modalTemplate',
        {prefix: "resetPassword", content: "resetPasswordModal", title: "Password Reset"})%>
    </body>
</html>
