<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours User Profile Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal stylesheets -->
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/indexMobile.css" />
        <link rel="stylesheet" href="/css/app.css"/>

        <!-- Internal javascript -->
    </head>
    <%- include('../partials/header')%>
    <body>
        <div class="mainContainer shortBlock textCenter">
            <div class="col10 smallCol10 colCenter smallColCenter">
                <h1 class="bold bottomMargin50">TODO: Handle Login</h1>
                <h2 class="bottomMargin50">This will be the profile page containing some basic user information</h2>
            </div>
        </div>
    </body>
    <%- include('../partials/footer')%>
</html>
