@use "../1-abstracts/" as a;

.btn {
    background: none;
    color: a.$color-black;
    border-radius: 7px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    cursor: pointer;
    display: block;

    //TODO modularise shadows
    box-shadow: rgba(119, 125, 132, 0.5) 0px 1px 4px;

    &:hover, &:focus {
        outline:none;
        color: a.$color-green;
        //TODO modularise shadows
        box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 4px;
        border-color: a.$color-green;
    }

    &:disabled {
        color: a.$color-white;
        background-color: a.$color-gray;
        box-shadow: unset;
        cursor: unset;
    }

    //Adds padding to any buttons which are preceded by another button
    + .btn {
        margin-left: a.$spacing--large;
    }

    + .btn__sibling {
        margin-left: a.$spacing--large;
    }
}

.btn--success {
    background: a.$color-green;
    color: a.$color-white;
    font-weight: 900;

    &:hover, &:focus {
        color: a.$color-green;
        background: a.$color-white;
    }
}

.btn--blue {
    background: a.$color-blue;
    color: a.$color-white;
    font-weight: 900;

    &:hover, &:focus {
        color: a.$color-blue;
        background: a.$color-white;
    }
}

.btn--error {
    background: a.$color-red;
    color: a.$color-white;
    font-weight: 900;

    &:hover, &:focus {
        color: a.$color-red;
        background: a.$color-white;
    }
}

.btn--border {
    border: 1px solid a.$color-black;
}
