@use "../1-abstracts/" as a;

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.checkbox > span {
    padding: 0.5rem 0.5rem 0.4rem;
}

.checkbox > input {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;

    transition-duration: 0.5s;
    background-color: a.$color-red;
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color: a.$color-green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox > input:checked::before{
    content: '\2713';
    display: block;
    text-align: center;
    color: a.$color-pattens-blue;
    position: relative;
}
