@use "../1-abstracts/" as a;
.form-field {
    position: relative;
    padding: 15px 0 0;
    //margin-top: 10px;
}

/* remove standard placeholder */
.formField::placeholder {
    color: transparent;
    visibility: hidden;
}

.formField {
    width: 100%;
    border: 0;
    border-bottom: 2px solid a.$color-gray;
    outline: 0;
    font-size: 20px;
    color: black;
    padding: 12px 0 10px;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 10px;

    &:focus {
        padding-bottom: 9px;
        font-weight: 700;
        border-width: 3px;
        border-bottom: 3px solid a.$color-blue;
    }
}

/* Keep label in default position when placeholder is not showing */
//TODO should label be here
.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 20px;
    color: a.$color-gray;
}

/* If the form field is empty (placeholder would be shown)
 * lower the label into formField
 * */
.formField:placeholder-shown ~ .formLabel {
    font-size: 20px;
    cursor: text;
    top: 20px;
}

/* Highlight label and return to top posiition when form is focused */
.formField:focus ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 20px;
    color: a.$color-blue;
    font-weight: 700;
}

/* reset input */
.formField:required,
.formField:invalid {
    box-shadow: none;
}

.form-field__input--error {
    color: a.$color-red;
    border-color: a.$color-red;
}

.form-field__input--error:focus {
    border-color: a.$color-red;
}

.form-field__input--error ~ .formLabel {
    color: a.$color-red;
}

.form-field__input--error:focus ~ .formLabel {
    color: a.$color-red;
}

