@use "../1-abstracts/" as a;
.form-field {
    position: relative;
    padding: 15px 0 0;

    & + .form-field {
        margin-top: a.$spacing--2xsmall;
    }
}

.form-field__input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid a.$color-gray;
    outline: 0;
    font-size: 20px;
    color: black;
    padding: 12px 0 10px;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 10px;

    //If the form field is empty (placeholder would be shown)
    //lower the label into form-field__input
    &:placeholder-shown ~ .form-field__label {
        font-size: 20px;
        cursor: text;
        top: 20px;
    }

    &:focus {
        padding-bottom: 9px;
        font-weight: 700;
        border-width: 3px;
        border-bottom: 3px solid a.$color-blue;

        //Highlight label and return to top posiition when form is focused
        & ~ .form-field__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.25s;
            font-size: 16px;
            color: a.$color-blue;
            font-weight: 700;
        }
    }

    /* remove standard placeholder */
    &::placeholder {
        color: transparent;
        visibility: hidden;
    }

}

// Keep label in default position when placeholder is not showing */
.form-field__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 16px;
    color: a.$color-gray;
}


.form-field__input--error {
    color: a.$color-red;
    border-color: a.$color-red;

    &:focus {
        border-color: a.$color-red;

        & ~ .form-field__label {
            color: a.$color-red;
        }
    }

    & ~ .form-field__label {
        color: a.$color-red;
    }
}
