@use "../1-abstracts/" as a;
.modal__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s linear, opacity 0.2s linear;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(131, 138, 150, 0.8);

    &--shown {
        visibility: visible;
        opacity: 1;
    }
}

// .modalContainer {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0.25s linear, opacity 0.2s linear;
//
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     left: 0;
//     z-index: 100000;
//
//     display: flex;
//     align-items: center;
//     justify-content: center;
//
//     background: rgba(131, 138, 150, 0.8);
//
// }
//
// .modalContainerShown {
//     visibility: visible;
//     opacity: 1;
// }

.modal {
    opacity: 0;
    transition: opacity 0.2s linear;

    position: relative;
    max-width: 700px; 
    width: 55%;
    min-width: 500px;


    background: white;
    //TODO look at all border-radius across site and make consistent
    border-radius: 7px;

    &--shown {
        opacity: 1;
    }
}

// .modalShown {
//     opacity: 1;
// }

.modal--no-transition {
    transition: unset !important;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 28px;
    width: 28px;

    &:hover {
        fill:a.$color-red;
    }
}

.modal__back {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 28px;
    width: 28px;
    visibility: hidden;

    &:hover {
        fill: a.$color-blue;
    }
}

.modal__section {
    padding: 50px 50px;
}

.instruction__number {
    font-size: 50px;
    margin: 0 30px;
    font-weight: 700;
}

.instruction__text {
    text-align: left;
}
