@use "../1-abstracts/" as a;
.modal__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s linear, opacity 0.2s linear;

    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(131, 138, 150, 0.8);

    &--shown {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    opacity: 0;
    transition: opacity 0.2s linear;

    position: relative;
    //TODO change size on large screens
    width: 95%;
    max-width: 550px; 
    max-height: 100%;

    background: white;
    //TODO look at all border-radius across site and make consistent

    &--shown {
        opacity: 1;
    }
}

.modal__title {
    text-align: left;
}

.modal__divider {
    height: 2px;
    background: a.$color-gray;
    width: 100%;
    margin: 0 auto;

    &--spacing {
        margin-top: a.$spacing--small;
    }
}

.modal--no-transition {
    transition: unset !important;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 28px;
    width: 28px;

    &:hover {
        fill: a.$color-red;
    }
}

.modal__test {
    text-align: left;
}

//TODO play with this
.modal__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    &--spread {
        justify-content: space-between;
    }
}

.modal__back {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 28px;
    width: 28px;
    visibility: hidden;

    &:hover {
        fill: a.$color-blue;
    }
}

.modal__section {
    padding: 2em 7.5%;
    
    &--highlight {
        background-color: a.$color-pattens-blue;
    }

    &--overflow {
        //TODO try to allow center section of modal to scrol
        //on tiny screens
        max-height: calc(100vh - 250px);
        overflow: auto;
    }
}

.instruction {
    display: flex;
    text-align: center;
    align-items: center;

    & + .instruction {
        margin-top: 1em;
    }
}

.instruction__number {
    font-size: 3em;
    margin: 0 0.5em 0 0.25em;
    font-weight: 700;
}

.instruction__text {
    text-align: left;
    & > h5 {
        font-weight: 100;
    }
}
