@use "../1-abstracts/" as a;

.admin__body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin__main-container {
    flex: 2 1 auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 1rem;
    background-color: rgba(000,000,000,0.025);
    color: a.$color-black;
    text-align: left;
    cursor: pointer;
}

.table-data--center {
    text-align: center
}

th {
    background-color: a.$color-dark-background;
    color: a.$color-white;

    &::after {
        color: a.$color-dark-background;
        content: ' \025B4';
    }

    &.dir-u::after {
        color: inherit;
        content: ' \025B4';
    }

    &.dir-d::after {
        color: inherit;
        content: ' \025BE';
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(0,0,0,0.15);
        }
    }

    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(0,0,0,0.15);
                z-index: -1;
            }
        }
    }
}
