// main {
//   padding-bottom: 100px;
// }
//
// .shortBlock {
//   padding-top: 50px;
//   padding-bottom: 50px;
// }
//
// .tallBlock {
//   padding-top: 75px;
//   padding-bottom: 75px;
// }

main {
  padding-bottom: 150px;
}

.mainContainer {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.shortBlock {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tallBlock {
  padding-top: 100px;
  padding-bottom: 100px;
}
