.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.shortBlock {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tallBlock {
  padding-top: 60px;
  padding-bottom: 60px;
}


// .container {
//   max-width: 1020px;
//   margin-right: auto;
//   margin-left: auto;
// }

.center--horizontal {
    display: flex;
    justify-content: center;
}
