@use '../1-abstracts/' as a;

.container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;

    &--short {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &--tall {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: a.$screen-lg) {
    .container {
        &--short {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        }

        &--tall {
            padding-top: 4.5rem;
            padding-bottom: 4.5rem;
        }
    }
}

@media (min-width: a.$screen-xl) {
    .container {
        max-width: 1100px;
    }
}

.center--horizontal {
    display: flex;
    justify-content: center;
}
