.show--md {
    display: none;
    @media(min-width: 576px) {
        display: initial;
    }
}

.show--lg {
    display: none;
    @media(min-width: 992px) {
        display: initial;
    }
}

.show--xl {
    display: none;
    @media(min-width: 1200px) {
        display: initial;
    }
}
