//TODO remove this file
/* Flex utility classes */
.flexPushRight {
    margin-left: auto;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spaceAround {
    justify-content: space-around;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

