@use "../1-abstracts/" as a;
.footer {
    padding: 30px 20px 30px;
    background-color: a.$color-night-rider;
    color: a.$color-dark-gray;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    a, h5 {
        margin: 0;
        color: a.$color-pattens-blue;
    }
}

.footer__copyright {
    margin-top: a.$spacing--xlarge;
}
