@use '../1-abstracts/' as a;
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--column-reverse {
  flex-wrap: wrap-reverse;
}

.col {
  flex: 0 0 100%;
}

@media (min-width: a.$screen-md) {
    .col--md--6 {
        flex-basis: 50%;
    }

    .col--md--5 {
        flex-basis: 41.666%;
    }

    .col--md--4 {
        flex-basis: 33.333%;
    }

    .col--md--7 {
        flex-basis: 58.333%;
    }

    .col--md--8 {
        flex-basis: 66.666%
    }
}

.show--md {
    display: none;
    @media(min-width: a.$screen-sm) {
        display: initial;
    }
}

.show--lg {
    display: none;
    @media(min-width: a.$screen-lg) {
        display: initial;
    }
}

.show--xl {
    display: none;
    @media(min-width: a.$screen-xl) {
        display: initial;
    }
}
