@use '../1-abstracts/' as a;
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--column-reverse {
  flex-wrap: wrap-reverse;
}

.col {
  flex: 0 0 100%;
}

.col2 {
    flex: 0 0 50%;
}

.show--md {
    display: none;
    @media(min-width: a.$screen-sm) {
        display: initial;
    }
}

.show--lg {
    display: none;
    @media(min-width: a.$screen-lg) {
        display: initial;
    }
}

.show--xl {
    display: none;
    @media(min-width: a.$screen-xl) {
        display: initial;
    }
}
