@use '../1-abstracts/' as a;

.header {
  position: sticky;
  z-index: a.$z-header;
  top: 0;
  left: 0;
  right: 0;
  height: 12vw;
  max-height: 6em;
  min-height: 4.5em;

  background: a.$color-white;
  //TODO make shadows modular
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  align-items: center;
  padding: 10px 5%;
  //TODO for larger screens
  // padding: 10px 30px;
}

.header__button-group {
  margin-left: auto;
}

.header__logo {
  height: 100%;
  > img {
    height: 100%;
  }
}


