@use '../1-abstracts/' as a;

.header {
  position: sticky;
  background: a.$color-white;
  //TODO make shadows modular
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  z-index: a.$z-header;
  height: 12vw;
  max-height: 100px;
  min-height: 85px;

  align-items: center;
  padding: 20px 30px;
}

.header__button-group {
  margin-left: auto;
}

.header__logo {
  height: 100%;
  > img {
    height: 100%;
  }
}
