header {
    position: -webkit-sticky;
    position: sticky;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: -1px;
    z-index: 1000;
    height: 12vw;
    max-height: 100px;
    min-height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

#headerLogoImg {
    height: 100%;
}
