//TODO This is clearly not the way to do it
/* Layout classes */
.pullUp150 {
    margin-top: -150px;
    position: relative;
}

.pullUp75 {
    margin-top: -75px;
    position: relative;
}


.topPadding150 {
    padding-top: 150px;
}

.topMargin10 {
    margin-top: 10px;
}

.topMargin20 {
    margin-top: 20px;
}

.bottomMargin100 {
    margin-bottom: 100px;
}

.bottomMargin50 {
    margin-bottom: 50px;
}

.bottomMargin30 {
    margin-bottom: 30px;
}

.bottomMargin15 {
    margin-bottom: 15px;
}

.bottomMargin10 {
    margin-bottom: 10px;
}

.sidePadding30 {
    padding-left: 30px;
    padding-right: 30px; 
}
