@use '../1-abstracts/' as a;

.hero {
  background-color: a.$color-pattens-blue;
  min-height: 70vh;
  padding-top: 1.5rem; 
}

.hero__content {
  margin-top: a.$spacing--3xlarge;

  button {
      margin-top: a.$spacing;
  }
}

.hero__img {
  max-height: 19rem;
  display: flex;
  margin: auto;

  //This is all just to center the image
  //The div keeps it centered vertically
  //and text-align keeps it centered horizontally
  div {
    text-align: center;
    width:100%;
    img {
      max-height: 100%;
    }
  }
}

.explanation {
    background-color: a.$color-blue;
    transform: translateY(50%);
    padding: 1.5rem 5%;

    margin-top: -6.5rem;

    @media(min-width: 320px) {
        margin-top: -4.5rem;
    }

    @media(min-width: 388px) {
        margin-top: -1.5rem;
    }
}

.team-quote {
    background-color: a.$color-dark-background;
    color: a.$color-text-inverse;

    &__container {
        padding-top: 3rem;
    }

    padding: 8rem 0 5rem;

    @media(min-width: 388px) {
        padding-top: 6.5rem;
    }
}

.team-quote__img {
    display: flex;
    margin-top: a.$spacing--2xlarge;

    @media (min-width: a.$screen-md) {
        margin-top: unset;
    }

    div {
        overflow: hidden;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        margin: auto;

        img {
            height: auto;
            width: 100%;
        }
    }
}

.team-quote__content__author {
  padding-left: 0.625rem;
  font-size: 0.8rem;
  color: a.$color-dark-gray;

  &:before {
    background: a.$color-red;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    content: "";
    display: inline-block;
    position: relative;
    top: 0.125rem;
    right: 0.625rem;
  }
}

.call-to-action {
  background-color: a.$color-pattens-blue;

  button {
      margin-top: a.$spacing--large;
  }

  &__text {
      margin-top: a.$spacing--large;
      font-weight: normal;
  }
}

