@use '../1-abstracts/' as a;

.hero {
  background-color: a.$color-pattens-blue;
}

.hero__content {
  // flex: 1 0;
  margin-top: a.$spacing--3xlarge;

  button {
      margin-top: a.$spacing--2xlarge;
  }
}

.hero__img {
  max-height: 250px;
  // flex: 1 0;
  display: flex;
  margin: auto;

  //This is all just to center the image
  //The div keeps it centered vertically
  //and text-align keeps it centered horizontally
  div {
    text-align: center;
    width:100%;
    img {
      max-height: 100%;
    }
  }
}

.explanation {
  background-color: a.$color-red;
  color: a.$color-text-inverse;
}

.team-quote {
  background-color: a.$color-dark-background;
  color: a.$color-text-inverse;
}

.team-quote__img {
  margin-top: a.$spacing--4xlarge;
  div {
    overflow: hidden;
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 50%;
    margin: auto;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.team-quote__content__author {
  padding-left: 10px;

  &:before {
    background: #2f9bff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    content: "";
    display: inline-block;
    position: relative;
    top: 0px;
    right: 10px;
  }
}

.call-to-action {
  background-color: a.$color-pattens-blue;

  button {
      margin-top: a.$spacing--large;
  }
}

