@use "../1-abstracts/" as a;

.profile-results--complete {
    margin-bottom: a.$spacing--large;
}

.profile-results__title {
    text-align: left;
    border-bottom: 2px solid a.$color-dark-gray;
    padding-bottom: 0.1em;
}

.profile-results__group {
    display: flex;
    justify-content: space-around;
    margin-top: a.$spacing--xlarge;
}

.profile-results__value {
    margin-top: a.$spacing--small;
}

.profile-results--progress__button {
    margin: 2.5em auto 1.5em;
}

.profile-info__header {
    border-bottom: 2px solid a.$color-dark-gray;
    padding-bottom: 0.1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > .btn {
        margin-top: 0;
        align-self: top;
    }
}

.profile-info__fields {
    padding-top: 1.5em;
    text-align: left;
}

.profileFieldHeader {
    margin-bottom: 0.9375em;
    color: a.$color-dark-gray;
    font-size: 1rem;

}

.profileFieldText {
    margin-top: 0.625em;
    margin-bottom: 1.5em;
    font-size: 1.25rem;
    overflow-wrap: break-word;

    + input {
        margin-top: 0;
    }
}

.profileInput {
    padding-top: 0.625em;
    margin-bottom: 0.75em;
}

